:root {
  --content-width: 1200px;
  --light: #ffffff;
  --accent: #2e7ee0;
  --dark: #2b2d30;
}

body {
  box-sizing: border-box;
  font-size: 1.25rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: var(--content-width);
  display: grid;
  grid-template-columns: 20rem 1fr;
}

h1,
h2 {
  color: var(--accent);
  font-size: 1.88rem;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  display: inline-block;
}

h1 {
  font-weight: 600;
  margin: 0;
  line-height: 1.5rem;
}

h3 {
  margin: 0;
  text-indent: 0.2rem;
}

.aside {
  max-width: 20rem;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 3.13rem;
  padding-left: 3.13rem;
}

.aside__item {
  width: 90%;
}

.aside__item:hover h2::after {
  --fill-percentage: 150%;
}

.aside h2::after {
  content: "";
  width: 100%;
  height: 0.13rem;
  display: block;
  position: relative;
  transition: --fill-percentage 0.3s ease-in-out;
  background: linear-gradient(
    to right,
    var(--accent) var(--fill-percentage),
    var(--light) 0%
  );
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.contact-list li {
  display: flex;
  align-items: center;
  margin-bottom: 0.63rem;
}

.contact-list li a{
  margin-left: 0.63rem;
  color: var(--light);
  text-decoration: none;
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
}

.skills__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.63rem;
  align-items: center;
  justify-content: space-between;
}

.language {
  list-style: none;
  margin: 0;
  padding: 0;
}


.language__item--level {
  background-color: var(--light);
  display: inline-block;
  width: 100%;
  height: 0.25rem;
}

.language__item--level::after {
  content: "";
  display: block;
  height: 0.25rem;
  background-color: var(--accent);
}


.language .language__item:nth-child(1) .language__item--level::after {
  width: 50%;
}
.language .language__item:nth-child(2) .language__item--level::after {
  width: 100%;
}
.language .language__item:nth-child(3) .language__item--level::after {
  width: 90%;
}
.language .language__item:nth-child(4) .language__item--level::after {
  width: 80%;
}

.hobby {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.25rem 1.25rem;
}

.hobby__item {
  background-color: var(--light);
  padding: 0.43rem;
  border-radius: 0.25rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color: var(--accent);

}

.resume {
  padding-right: 1.25rem;
  padding-top: 1.13rem;
  padding-left: 3.13rem;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;

}

.header__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  margin: 0;
}

.header__photo{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 0.50rem solid var(--accent);
}
.header__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list__item {
  margin-right: 1.25rem;
}

footer{
  width: var(--content-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid var(--dark);
}

@property --fill-percentage {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
